<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" (click)="calculate(2)" [ngClass]="{'active-btn': chosenNum===2 }"
      >Numbers divisible by 2</button>

      <button class="btn btn-success" (click)="calculate(3)" [ngClass]="{'active-btn': chosenNum===3 }"
      >Numbers divisible by 3</button>

      <button class="btn btn-success" (click)="calculate(5)" [ngClass]="{'active-btn': chosenNum===5 }"
      >Numbers divisible by 5</button>

      <button class="btn btn-success" (click)="calculate(7)" [ngClass]="{'active-btn': chosenNum===7 }"
      >Numbers divisible by 7</button>

      <button class="btn btn-success" (click)="calculate(10)" [ngClass]="{'active-btn': chosenNum===10 }"
      >Numbers divisible by 10</button>

      <button class="btn btn-danger" (click)="calculate(1)" [disabled]="isClearDisabled"
      >Clear</button>
    </div>

    <div class="col-md-8">
      <p *ngFor="let number of nums"
      [ngClass]="{'highlight': number % chosenNum === 0 && chosenNum>1}"
      [ngStyle]="{'font-size': (number % chosenNum === 0 && chosenNum>1)? '30px' : '24px'}"
      >{{number}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 message" *ngIf="chosenNum>1">
     Numbers highlighted above are divisible by {{chosenNum}}
    </div>
  </div>
</div>